<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Erkeksen Gel Berber Salonu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-relative">
        <div class="container">
            <!-- Navbar Toggle -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Ortalanmış Menü Öğeleri -->
            <div class="collapse navbar-collapse position-absolute start-50 translate-middle-x" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Hizmetlerimiz">Hizmetlerimiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Randevu">Randevu Al</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link home-icon" href="/">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/SacDene">Saç Dene</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Hakkimizda">Hakkımızda</a>
                    </li>
                </ul>
            </div>

            <!-- Kullanıcı Oturum Kontrolü -->
            <ul class="navbar-nav ms-auto">
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </nav>

    <main class="container my-4">
        @RenderBody()
    </main>

    <footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
        <p>© 2024 Erkeksen Gel Berber Salonu. Tüm Hakları Saklıdır.</p>
    </footer>
</body>
</html>
